@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  background-image: url("/images/background-wallpaper.webp");
  background-repeat: no-repeat;
}

.appContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.profileCard {
  position: relative;
  z-index: 20;
}